*.pt filter=lfs diff=lfs merge=lfs -text
yolo_fine_tuning/runs/detect/train14/weights/last.pt filter=lfs diff=lfs merge=lfs -text
yolo_fine_tuning/runs/detect/train14/weights/best.pt filter=lfs diff=lfs merge=lfs -text
yolo_fine_tuning/runs/detect/m_640_FHD/weights/last.pt filter=lfs diff=lfs merge=lfs -text
yolo_fine_tuning/runs/detect/m_640_FHD/weights/best.pt filter=lfs diff=lfs merge=lfs -text
